html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  height: 100%;
  flex-direction: column;
  flex-wrap: wrap;
}

.Display {
  width: 97%;
  border: 1px solid black;
  border-radius: 0.5em;
  padding: 1em;
  flex: 0 0 auto;
}

.Keypad {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 0 auto;
}

.Button {
  display: inline-flex;
  width: 25%;
}

button {
  margin: 0.25em 0.25em 0 0;
  border: 0;
  border-radius: 0.5em;
  width: 100%;
  font-size: 1.5em;
}
